.avatar {
  width: 800px;
  height: 600px;
  background: transparent 0 0 no-repeat;

  &.avatar-win {
    z-index: 1;
  }

  &.avatar-ko {
    z-index: 0;
  }

  &#player-1-avatar {
    &.avatar-idle {
      background-image: url(../images/red-avatar-states/red-neutral.png);
    }
    &.avatar-jab {
      background-image: url(../images/red-avatar-states/red-jab.png);
    }
    &.avatar-punch {
      background-image: url(../images/red-avatar-states/red-punch.png);
      z-index: 1;
    }
    &.avatar-uppercut {
      background-image: url(../images/red-avatar-states/red-uppercut.png);
    }
    &.avatar-defend {
      background-image: url(../images/red-avatar-states/red-block.png);
    }
    &.avatar-hit {
      background-image: url(../images/red-avatar-states/red-get-hit.png);
    }
    &.avatar-win {
      background-image: url(../images/red-avatar-states/red-win.png);
    }
    &.avatar-ko {
      background-image: url(../images/red-avatar-states/red-die.png);
    }
  }

  &#player-2-avatar {
    &.avatar-idle {
      background-image: url(../images/blue-avatar-states/blue-neutral.png);
    }
    &.avatar-jab {
      background-image: url(../images/blue-avatar-states/blue-jab.png);
    }
    &.avatar-punch {
      background-image: url(../images/blue-avatar-states/blue-punch.png);
    }
    &.avatar-uppercut {
      background-image: url(../images/blue-avatar-states/blue-uppercut.png);
    }
    &.avatar-defend {
      background-image: url(../images/blue-avatar-states/blue-block.png);
    }
    &.avatar-hit {
      background-image: url(../images/blue-avatar-states/blue-get-hit.png);
    }
    &.avatar-win {
      background-image: url(../images/blue-avatar-states/blue-win.png);
    }
    &.avatar-ko {
      background-image: url(../images/blue-avatar-states/blue-die.png);
    }
  }
}