.player-status {
  width: 50%;

  h1 {
    margin: 0;
  }

  .status-bar {
    display: inline-block;
    color: #FFF;
    text-shadow: rgba(#000, 0.80) 1px 1px 0;
  }
}

.life-bar {
  width: 100%;

  .status-bar-fill {
    background: #292;
  }
}

.energy-bar {
  width: 30%;
  font-size: 10px;
  padding: 0 6px;

  .status-bar-fill {
    background: #77F;
  }
}
