.status-bar {
  position: relative;
  padding: 2px 6px;
  border: rgba(#FFF, 0.80) 1px solid;
  background: rgba(#FFF, 0.30);
  border-radius: 3px;
}

.status-bar-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #CCC;
  z-index: 1;
  -webkit-transition: width 400ms ease-out;
  -moz-transition: width 400ms ease-out;
  transition: width 400ms ease-oute;
}

.status-bar-percentage,
.status-bar-stats {
  position: relative;
  width: 100%;
  z-index: 2;
}