#top-region {
  .player-status {
    width: 50%;
    float: left;
    padding: 10px;
  }

  #player-1-status {
    text-align: right;

    h2 { text-align: left }

    .status-bar-fill {
      left: auto;
      right: 0;
    }
  }

  #player-2-status {
    text-align: left;

    h2 { text-align: right }

  }
}