*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

body,
button{
  font-family: Sarpanch, sans-serif;
}

body {
  background-color: #000;
  background-image: url(../images/background/ring5.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

h2 {
  color: #FFF;
}